@{
    ViewBag.Title = "Quản lý bệnh nhân";
}

<table class="table table-border" id="myTable">
    <thead>
        <tr>
            <th>Stt</th>
            <th>Họ tên</th>
            <th>Giới tính</th>
            <th>Ngày tạo</th>
            <th>Trạng thái</th>
            <th>Lý do</th>
            <th>Thao tác</th>
        </tr>
    </thead>
</table>
@section Scripts {
    <script src="~/PageScripts/QuanLyBenhNhan.js"></script>
}

