@{
    ViewBag.Title = "Quản lý thanh toán";
}
<table class="table table-border" id="myTable">
    <thead>
        <tr>
            <th>Stt</th>
            <th>Ngày</th>
            <th>Thời gian</th>
            <th>Bệnh nhân</th>
            <th>Trạng thái</th>
            <th>Số tiền đặt cọc</th>
            <th>Số tiền còn lại</th>
            <th>Số tiền thanh toán</th>
            <th>Thao tác</th>
        </tr>
    </thead>
</table>

@section Scripts {
    <script src="~/PageScripts/QuanLyThanhToan.js"></script>
}