@{
    ViewBag.Title = "Quản lý bài viết";
}
<table class="table table-border" id="myTable">
    <thead>
        <tr>
            <th>Stt</th>
            <th>Tiêu đề</th>
            <th>Người đăng</th>
            <th>Thời gian đăng</th>
            <th>Trạng thái</th>
            <th>Thao tác</th>
        </tr>
    </thead>
</table>

@section Scripts {
    <script src="~/PageScripts/QuanLyBaiViet.js"></script>
}