@page
@model DATLICHKHAM.Views.Home.IndexModel
@{
    ViewBag.Title = "Thống kê";
}

<div class="content">
    @await Html.PartialAsync("Common/_Filter")
    <table class="table table-border" id="lichHen">
        <thead>
            <tr>
                <th>Stt</th>
                <th>Ngày</th>
                <th>Tổng lịch hẹn</th>
                <th>Đã khám</th>
                <th>Đã hủy</th>
                <th>Chờ khám</th>
            </tr>
        </thead>
    </table>
</div>

<div class="content">
    @await Html.PartialAsync("Common/_Filter")
    <table class="table table-border" id="doanhThu">
        <thead>
            <tr>
                <th>Stt</th>
                <th>Ngày</th>
                <th>Doanh thu tiền mặt</th>
                <th>Chuyển khoản</th>
                <th>Tổng doanh thu</th>
            </tr>
        </thead>
    </table>
</div>

<div class="content">
    @await Html.PartialAsync("Common/_Filter")
    <table class="table table-border" id="bacSi">
        <thead>
            <tr>
                <th>Stt</th>
                <th>Bác sĩ</th>
                <th>Số ca khám</th>
                <th>Số ca hủy</th>
                <th>Đánh giá trung bình</th>
            </tr>
        </thead>
    </table>
</div>



@section Scripts {
    <script src="~/PageScripts/ThongKe.js"></script>
}

