@using System.Security.Claims;
@using Microsoft.AspNetCore.Identity;

@if (!User.Identity.IsAuthenticated)
{
    <div class="login-btn user-logged">
        <a type="button" class="btn btn-outline-primary" asp-page="/Account/Login" asp-area="Identity">Đăng nhập</a>
    </div>
}
else
{
    <div class="user-logged">
        <a class="d-flex align-items-center dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            @if (!String.IsNullOrEmpty(ViewBag.Avatar))
            {
                <img src="@ViewBag.Avatar" alt="Avatar" class="rounded-circle" width="50" height="50" />
            }
            else
            {
                <img src="/images/anhdaidien.jpg" alt="Avatar" class="rounded-circle" width="40" height="40" />
            }
            <span class="displayName ms-2">@ViewBag.DisplayName</span>
        </a>
        @if(ViewBag.VaiTro == 2)
        {
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                <li><a class="dropdown-item" asp-controller="ThongTinCaNhan" asp-action="Index"><i class="fa fa-user"></i> Thông tin cá nhân</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" asp-controller="LichKham" asp-action="Index"><i class="fa fa-calendar"></i> Quản lý lịch khám</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" asp-action="Logout" asp-controller="Home"><i class="fa fa-sign-out-alt"></i> Đăng xuất</a></li>
            </ul>
        }
        else
        {
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                @if (ViewBag.VaiTro == 3)
                {
                    <li><a class="dropdown-item" asp-controller="ThongTinCaNhan" asp-action="Index"><i class="fa fa-user"></i> Thông tin cá nhân</a></li>
                    <li><hr class="dropdown-divider"></li>                    
                    <li><a class="dropdown-item" asp-controller="LichHenCaNhan" asp-action="Index"><i class="fa fa-calendar"></i> Quản lý lịch hẹn</a></li>
                    <li><hr class="dropdown-divider"></li>
                }
                <li><a class="dropdown-item" asp-action="Logout" asp-controller="Home"><i class="fa fa-sign-out-alt"></i> Đăng xuất</a></li>
            </ul>
        }
    </div>
}

