<div class="block-Intro introChuyenGia">
    <div class="line"></div>
    <h2>ĐỘI NGŨ CHUYÊN GIA</h2>
    <div class="line"></div>
</div>


<div class="blockChuyenGia card-container" id="renderChuyenGia">
    @* render card chuyên gia *@
</div>

<div class="modal fade" id="chonDichVu" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="border:none;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Chọn dịch vụ</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="selectDichVuParent">
                    <select id="selectDichVu" class="form-control">
                    </select>
                    <input id="idChuyenGia" value="" hidden/>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btn-DatLichHen">Đặt lịch hẹn</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btn-cancel">Hủy</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/PageScripts/DoiNguChuyenGia.js"></script>
}
