<div class="block-Intro introChuyenGia">
    <div class="line"></div>
    <h2>ĐỘI NGŨ CHUYÊN GIA</h2>
    <div class="line"></div>
</div>

<div class="blockChuyenGia card-container" id="renderChuyenGia">
    @* render card chuyên gia *@
</div>

@section Scripts {
    <script src="~/PageScripts/DoiNguChuyenGia.js"></script>
}
