<div class="container-fluid block-page">
    <h3 class="heading-page">TRANG CHỦ / ĐỘI NGŨ CHUYÊN GIA</h3>
    <div class="blockChuyenGia">
        <div class="chuyenGia">
            <div class="chuyenGiaLeft">
                <img class="anhDaiDienChuyenGia" src="~/images/bacsi.jpg" alt="Alternate Text" />
                <a href="#" class="datKhamNgay">Đặt khám ngay</a>
            </div>
            <div class="chuyenGiaRight">
                <p class="tenChuyenGia">BS. Th.S Võ Lê Tiến Dũng</p>
                <p class="gioiThieuChuyenGia"><span class="thongtinChuyenGia">Chuyên khoa</span>Tâm lý học giáo dục</p>
                <p class="gioiThieuChuyenGia"><span class="thongtinChuyenGia">Chức vụ</span>Chuyên viên tâm lý</p>
                <p class="gioiThieuChuyenGia"><span class="thongtinChuyenGia">Dịch vụ</span>Tâm lý học đường</p>
                <p class="gioiThieuChuyenGia"><span class="thongtinChuyenGia">Đơn vị công tác</span>Bệnh viện Đại Học Y Dược Huế</p>
                <p class="gioiThieuChuyenGia"><span class="thongtinChuyenGia">Kinh nghiệm</span>Hơn 15 năm trong lĩnh vực chẩn đoán và điều trị rối loạn tâm lý, từng công tác tại Viện Sức khỏe Tâm thần Quốc gia.</p>
            </div>
        </div>
        <div class="chuyenGia">
            <div class="chuyenGiaLeft">
                <img class="anhDaiDienChuyenGia" src="~/images/bacsi.jpg" alt="Alternate Text" />
                <a href="#" class="datKhamNgay">Đặt khám ngay</a>
            </div>
            <div class="chuyenGiaRight">
                <p class="tenChuyenGia">BS. Th.S Võ Lê Tiến Dũng</p>
                <p class="gioiThieuChuyenGia"><span class="thongtinChuyenGia">Chuyên khoa</span>Tâm lý học giáo dục</p>
                <p class="gioiThieuChuyenGia"><span class="thongtinChuyenGia">Chức vụ</span>Chuyên viên tâm lý</p>
                <p class="gioiThieuChuyenGia"><span class="thongtinChuyenGia">Dịch vụ</span>Tâm lý học đường</p>
                <p class="gioiThieuChuyenGia"><span class="thongtinChuyenGia">Đơn vị công tác</span>Bệnh viện Đại Học Y Dược Huế</p>
                <p class="gioiThieuChuyenGia"><span class="thongtinChuyenGia">Kinh nghiệm</span>Hơn 15 năm trong lĩnh vực chẩn đoán và điều trị rối loạn tâm lý, từng công tác tại Viện Sức khỏe Tâm thần Quốc gia.</p>
            </div>
        </div>
    </div>
</div>