
<div class="blockTrangCaNhan row">
    <div class="col-5 taiKhoan">
        <div class="avatar-wrapper">
            <img src="~/images/anhdaidien.jpg" alt="Avatar" class="rounded-circle avatar-img" width="200" height="200" />
            <button class="avatar-edit-btn">
                <i class="fa fa-camera"></i> <!-- Hoặc dùng icon cây viết, fa fa-pencil -->
            </button>
        </div>
        <div class="mb-3">
            <label for="tenDangNhap" class="form-label">Tên đăng nhập</label>
            <input type="text" class="form-control" id="tenDangNhap" placeholder="Nhập tên đăng nhập">
        </div>
        <div class="mb-3">
            <label for="matKhauHienTai" class="form-label">Mật khẩu hiện tại</label>
            <input type="text" class="form-control" id="matKhauHienTai" placeholder="Nhập mật khẩu hiện tại">
        </div>
        <div class="mb-3">
            <label for="matKhauMoi" class="form-label">Mật khẩu mới</label>
            <input type="text" class="form-control" id="matKhauMoi" placeholder="Nhập mật khẩu mới">
        </div>
        <div class="mb-3">
            <label for="matKhauMoi1" class="form-label">Nhập lại mật khẩu mới</label>
            <input type="text" class="form-control" id="matKhauMoi1" placeholder="Nhập lại mật khẩu mới">
        </div>
        <div class="mb-3">
            <button id="saveInfoTaiKhoan">Lưu thông tin tài khoản</button>
        </div>
    </div>
    <div class="col thongTin">
        <div class="mb-3">
            <label for="hoTenEdit" class="form-label">Họ và tên</label>
            <input type="text" class="form-control" id="hoTenEdit" placeholder="Nhập họ và tên">
        </div>
        <div class="mb-3">
            <label class="form-label">Giới tính</label>
            <div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="gioitinhEdit" id="nuEdit" value="1">
                    <label class="form-check-label" for="nuEdit">Nữ</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="gioitinhEdit" id="namEdit" value="0">
                    <label class="form-check-label" for="namEdit">Nam</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="gioitinhEdit" id="khacEdit" value="2">
                    <label class="form-check-label" for="khacEdit">Khác</label>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label for="ngaySinhEdit" class="form-label">Ngày sinh</label>
            <input type="date" class="form-control" id="ngaySinhEdit" placeholder="dd/mm/yyyy">
        </div>
        <div class="mb-3">
            <label for="soDienThoaiEdit" class="form-label">Số điện thoại </label>
            <input type="text" class="form-control" id="soDienThoaiEdit" placeholder="Nhập số điện thoại">
        </div>
        <div class="mb-3">
            <label for="emailEdit" class="form-label">Email</label>
            <input type="email" class="form-control" id="emailEdit" placeholder="Nhập email">
        </div>
        <div class="mb-3">
            <label for="diaChiEdit" class="form-label">Địa chỉ</label>
            <input type="text" class="form-control" id="diaChiEdit" placeholder="Nhập địa chỉ">
        </div>
        <div class="mb-3">
            <label for="tienSuBenhEdit" class="form-label">Tiền sử bệnh</label>
            <input type="text" class="form-control" id="tienSuBenhEdit" placeholder="Nhập tiền sử bệnh">
        </div>
        <div class="mb-3">
            <label for="thoiQuenSinhHoatEdit" class="form-label">Thói quen sinh hoạt</label>
            <input type="text" class="form-control" id="thoiQuenSinhHoatEdit" placeholder="Nhập thói quen sinh hoạt">
        </div>
        <div class="mb-3">
            <label for="ngheNghiepEdit" class="form-label">Nghề nghiệp</label>
            <input type="text" class="form-control" id="ngheNghiepEdit" placeholder="Nhập nghề nghiệp">
        </div>
        <div class="mb-3">
            <label for="tinhTrangHonNhanEdit" class="form-label">Tình trạng hôn nhân</label>
            <input type="text" class="form-control" id="tinhTrangHonNhanEdit" placeholder="Nhập tình trạng hôn nhân">
        </div>
        <div class="mb-3">
            <label for="thuocDangDungEdit" class="form-label">Thuốc đang dùng</label>
            <textarea cols="30" rows="3" type="text" class="form-control" id="thuocDangDungEdit" placeholder="Nhập thuốc đang dùng"></textarea>
        </div>
        <div class="mb-3">
            <label for="ghiChuKhacEdit" class="form-label">Ghi chú khác</label>
            <textarea cols="30" rows="3" type="text" class="form-control" id="ghiChuKhacEdit" placeholder="Nhập ghi chú khác"></textarea>
        </div>
        <div class="mb-3">
            <button id="saveInfoCaNhan">Lưu thông tin cá nhân</button>
        </div>
    </div>
</div>



@* @section Scripts { *@
@*     <script src="~/PageScripts/DichVu.js"></script> *@
@* } *@
