
@{
    ViewBag.Title = "Quản lý hệ thống";
}
<table class="table table-border" id="myTable">
    <thead>
        <tr>
            <th>Stt</th>
            <th>Tên chứng chỉ</th>
            <th>Bác sĩ</th>
            <th>Ngày cấp</th>
            <th>Ngày hết hạn</th>
            <th>Số hiệu chứng chỉ</th>
            <th>Tổ chức cấp</th>
            <th>Thao tác</th>
        </tr>
    </thead>
</table>
@section Scripts {
    <script src="~/PageScripts/QuanLyHeThong.js"></script>
}
