<div class="container-fluid block-page">
    <h3 class="heading-page">TRANG CHỦ / DỊCH VỤ</h3>
    <div class="blockDichVu row">
        <div class="col-6">
            <div class="dichVu">
                <p class="tenDichVu">Tham vấn, trị liệu tâm lý</p>
                <p class="moTaDichVu">Hỗ trợ cá nhân giải quyết các vấn đề về tâm lý, cảm xúc và hành vi thông qua trò chuyện với chuyên gia. Quá trình này giúp khách hàng hiểu rõ bản thân, giảm căng thẳng, cải thiện các mối quan hệ và phát triển kỹ năng đối phó với khó khăn trong cuộc sống.</p>
                <a href="#" class="datKhamNgay">Tìm chuyên gia</a>
            </div>
        </div>
        <div class="col-6">
            <div class="dichVu">
                <p class="tenDichVu">BS. Th.S Võ Lê Tiến Dũng</p>
                <p class="moTaDichVu">Tâm lý học giáo dục</p>
                <a href="#" class="datKhamNgay">Đặt khám ngay</a>
            </div>
        </div>
        <div class="col-6">
            <div class="dichVu">
                <p class="tenDichVu">BS. Th.S Võ Lê Tiến Dũng</p>
                <p class="moTaDichVu">Tâm lý học giáo dục</p>
                <a href="#" class="datKhamNgay">Đặt khám ngay</a>
            </div>
        </div>
        <div class="col-6">
            <div class="dichVu">
                <p class="tenDichVu">BS. Th.S Võ Lê Tiến Dũng</p>
                <p class="moTaDichVu">Tâm lý học giáo dục</p>
                <a href="#" class="datKhamNgay">Đặt khám ngay</a>
            </div>
        </div>
        <div class="col-6">
            <div class="dichVu">
                <p class="tenDichVu">BS. Th.S Võ Lê Tiến Dũng</p>
                <p class="moTaDichVu">Tâm lý học giáo dục</p>
                <a href="#" class="datKhamNgay">Đặt khám ngay</a>
            </div>
        </div>
    </div>
</div>