@page
@model DATLICHKHAM.Views.Home.IndexModel
@{

}

<div class="container-fluid banner">
    <p class="heading heading1">TRUNG TÂM ỨNG DỤNG KHOA HỌC TÂM LÝ - GIÁO DỤC</p>
    <p class="heading heading2">HOÀNG MINH CENTER</p>
    <p class="heading heading3">Tận tâm - Chuyên nghiệp - Phương pháp có bằng chứng khoa học</p>
    <div class="extend">
        <@* div class="search-box">
            <input type="text" id="form-search" placeholder="Tìm kiếm...">
            <button class="icon-search">
                <img src="~/images/search.png" alt="">ss
            </button>
        </div> *@
        <button class="DatLichNgay" type="button" onclick="location.href='@Url.Action("Index", "DichVu")'">Đặt lịch ngay</button>
    </div>
    <div class="overlay"></div>
</div>
<div class="container-fluid block-content booking-now">
    <p class="heading">ĐẶT LỊCH KHÁM</p>
    <div class=" owl-carousel owl-theme">
        <div class="card h-100 item">
            <div class="block-img">
                <img src="~/images/bacsi.jpg" class="card-img-top" alt="...">
            </div>
            <div class="card-body d-flex flex-column">
                <h5 class="card-title flex-grow-1"><a href="">BS. Hà Tiến Huy</a></h5>
                <p class="card-text flex-grow-1">Tâm lý lâm sàng, tâm lý tư vấn</p>
                <a href="#" class="btn btn-register btn-primary">Đặt lịch ngay</a>
            </div>
        </div>
        <div class="card h-100 item">
            <div class="block-img">
                <img src="~/images/bacsi.jpg" class="card-img-top" alt="...">
            </div>
            <div class="card-body d-flex flex-column">
                <h5 class="card-title flex-grow-1"><a href="">BS. Hà Tiến Huy</a></h5>
                <p class="card-text flex-grow-1">Tâm lý lâm sàng, tâm lý tư vấn</p>
                <a href="#" class="btn btn-register btn-primary">Đặt lịch ngay</a>
            </div>
        </div>
        <div class="card h-100 item">
            <div class="block-img">
                <img src="~/images/bacsi.jpg" class="card-img-top" alt="...">
            </div>
            <div class="card-body d-flex flex-column">
                <h5 class="card-title flex-grow-1"><a href="">BS. Hà Tiến Huy</a></h5>
                <p class="card-text flex-grow-1">Tâm lý lâm sàng, tâm lý tư vấn</p>
                <a href="#" class="btn btn-register btn-primary">Đặt lịch ngay</a>
            </div>
        </div>
        <div class="card h-100 item">
            <div class="block-img">
                <img src="~/images/bacsi.jpg" class="card-img-top" alt="...">
            </div>
            <div class="card-body d-flex flex-column">
                <h5 class="card-title flex-grow-1"><a href="">BS. Hà Tiến Huy</a></h5>
                <p class="card-text flex-grow-1">Tâm lý lâm sàng, tâm lý tư vấn</p>
                <a href="#" class="btn btn-register btn-primary">Đặt lịch ngay</a>
            </div>
        </div>
        <div class="card h-100 item">
            <div class="block-img">
                <img src="~/images/bacsi.jpg" class="card-img-top" alt="...">
            </div>
            <div class="card-body d-flex flex-column">
                <h5 class="card-title flex-grow-1"><a href="">BS. Hà Tiến Huy</a></h5>
                <p class="card-text flex-grow-1">Tâm lý lâm sàng, tâm lý tư vấn</p>
                <a href="#" class="btn btn-register btn-primary">Đặt lịch ngay</a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid block-content category">
    <p class="heading">CHUYÊN KHOA</p>
    <div class="row" style="justify-content:center;">
        <div class="col-3">
            <div class="block-category h-100">
                <img src="~/images/i1.jpg" alt="">
                <p class="title">Tư vấn & trị liệu tâm lý cho người lớn</p>
            </div>
        </div>
        <div class="col-3">
            <div class="block-category h-100">
                <img src="~/images/i2.jpg" alt="">
                <p class="title">Tư vấn & trị liệu tâm lý cho trẻ em</p>
            </div>
        </div>
        <div class="col-3">
            <div class="block-category h-100">
                <img src="~/images/i3.jpg" alt="">
                <p class="title">Tư vấn & trị liệu tâm lý cho GĐ - hôn nhân</p>
            </div>
        </div>
        <div class="col-3">
            <div class="block-category h-100">
                <img src="~/images/i4.jpg" alt="">
                <p class="title">Can thiệp sớm cho trẻ đặc biệt</p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid block-content blog">
    <p class="heading">BÀI VIẾT NỔI BẬT</p>
    <div class="row">
        <div class="col-6 col-right" id="baiVietNoiBat">
            <div class="card">
                <a href="#"><img src="~/images/image.png" class="card-img-top" alt="..."></a>
                <div class="card-body">
                    <a href="#" class="title-blog">
                        <p class="card-text tieuDeBaiViet">Trầm cảm có chữa khỏi được không?</p>
                    </a>
                    <p class="card-text ngayDangBaiViet">14/06/2023</p>
                    <p class="card-text view-cmt">
                        <span class="luotXemBaiViet">1992</span> lượt xem <span class="soBinhLuan">5</span> bình luận
                    </p>
                    <a href="#" class="content-blog">
                        <p class="card-text noiDungBaiViet">
                            Trầm cảm nếu được phát hiện sớm, điều trị đầy
                            đủ, kịp thời bệnh thuyên giảm và tiến triển tốt. Các triệu chứng của bệnh sẽ hết,
                            tuy nhiên trầm cảm dễ tái phát. Điều trị trầm cảm phụ thuộc vào yêu cầu giúp đỡ của
                            bệnh nhân. Nếu không chữa trị, trầm cảm có thể kéo dài trong nhiều tuần, nhiều tháng
                            hay thậm chí nhiều năm. Liệu pháp điều trị giúp cải thiện bệnh trầm cảm chỉ kéo dài
                            8 đến 12 tuần hoặc ít hơn.
                        </p>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-6 col-left">
            <div class="row">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <a href="#"><img src="~/images/image.png" class="card-img-top" alt="..."></a>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <a href="#" class="title-blog">
                                    <p class="card-text tieuDeBaiViet">Trầm cảm có chữa khỏi được không?</p>
                                </a>
                                <p class="card-text ngayDangBaiViet">14/06/2023</p>
                                <p class="card-text view-cmt">
                                    <span class="luotXemBaiViet">1992</span> lượt xem
                                    <span class="soBinhLuan">5</span> bình luận
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <a href="#"><img src="~/images/image.png" class="card-img-top" alt="..."></a>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <a href="#" class="title-blog">
                                    <p class="card-text tieuDeBaiViet">Trầm cảm có chữa khỏi được không?</p>
                                </a>
                                <p class="card-text ngayDangBaiViet">14/06/2023</p>
                                <p class="card-text view-cmt">
                                    <span class="luotXemBaiViet">1992</span> lượt xem
                                    <span class="soBinhLuan">5</span> bình luận
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <a href="#"><img src="~/images/image.png" class="card-img-top" alt="..."></a>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <a href="#" class="title-blog">
                                    <p class="card-text tieuDeBaiViet">Trầm cảm có chữa khỏi được không?</p>
                                </a>
                                <p class="card-text ngayDangBaiViet">14/06/2023</p>
                                <p class="card-text view-cmt">
                                    <span class="luotXemBaiViet">1992</span> lượt xem
                                    <span class="soBinhLuan">5</span> bình luận
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <a href="#"><img src="~/images/image.png" class="card-img-top" alt="..."></a>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <a href="#" class="title-blog">
                                    <p class="card-text tieuDeBaiViet">Trầm cảm có chữa khỏi được không?</p>
                                </a>
                                <p class="card-text ngayDangBaiViet">14/06/2023</p>
                                <p class="card-text view-cmt">
                                    <span class="luotXemBaiViet">1992</span> lượt xem
                                    <span class="soBinhLuan">5</span> bình luận
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid block-content rating">
    <p class="heading">CẢM NHẬN TỪ KHÁCH HÀNG</p>
    <div class="block-rating">
        <div class="card mb-3" style="max-width: 400px;">
            <div class="card-header">   
                <img src="~/images/rating.png" alt="">
                <p class="card-text">
                    Mình rất thích cách trang web này hoạt động. Giao diện dễ hiểu, đặt lịch
                    nhanh chóng mà không cần gọi điện. Ngoài ra, tính năng nhắc nhở lịch khám giúp mình không bị
                    quên. Tuy nhiên, nếu có thêm thông báo qua SMS thì sẽ tiện hơn.
                </p>
            </div>
            <div class="card-body">
                <h5 class="card-title">Hoàng Thảo Linh</h5>
                <div class="rating">
                    <img src="~/images/star.png" alt="">
                    <img src="~/images/star.png" alt="">
                    <img src="~/images/star.png" alt="">
                    <img src="~/images/star.png" alt="">
                    <img src="~/images/star.png" alt="">
                </div>
            </div>
        </div>
        <div class="card mb-3" style="max-width: 400px;">
            <div class="card-header">
                <img src="~/images/rating.png" alt="">
                <p class="card-text">
                    Mình rất thích cách trang web này hoạt động. Giao diện dễ hiểu, đặt lịch
                    nhanh chóng mà không cần gọi điện. Ngoài ra, tính năng nhắc nhở lịch khám giúp mình không bị
                    quên. Tuy nhiên, nếu có thêm thông báo qua SMS thì sẽ tiện hơn.
                </p>
            </div>
            <div class="card-body">
                <h5 class="card-title">Hoàng Thảo Linh</h5>
                <div class="rating">
                    <img src="~/images/star.png" alt="">
                    <img src="~/images/star.png" alt="">
                    <img src="~/images/star.png" alt="">
                    <img src="~/images/star.png" alt="">
                    <img src="~/images/star.png" alt="">
                </div>
            </div>
        </div>
        <div class="card mb-3" style="max-width: 400px;">
            <div class="card-header">
                <img src="~/images/rating.png" alt="">
                <p class="card-text">
                    Mình rất thích cách trang web này hoạt động. Giao diện dễ hiểu, đặt lịch
                    nhanh chóng mà không cần gọi điện. Ngoài ra, tính năng nhắc nhở lịch khám giúp mình không bị
                    quên. Tuy nhiên, nếu có thêm thông báo qua SMS thì sẽ tiện hơn.
                </p>
            </div>
            <div class="card-body">
                <h5 class="card-title">Hoàng Thảo Linh</h5>
                <div class="rating">
                    <img src="~/images/star.png" alt="">
                    <img src="~/images/star.png" alt="">
                    <img src="~/images/star.png" alt="">
                    <img src="~/images/star.png" alt="">
                    <img src="~/images/star.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
         <script>
            const vaiTro = '@ViewBag.VaiTro';
        const anhdaidien = '@ViewBag.Avatar';
            console.log(vaiTro, anhdaidien);
         </script>
}
