@page
@model DATLICHKHAM.Views.Home.IndexModel
@{

}

<div class="container-fluid banner">
    <p class="heading heading1">TRUNG TÂM ỨNG DỤNG KHOA HỌC TÂM LÝ - GIÁO DỤC</p>
    <p class="heading heading2">HOÀNG MINH CENTER</p>
    <p class="heading heading3">Tận tâm - Chuyên nghiệp - Phương pháp có bằng chứng khoa học</p>
    <div class="extend">
        <@* div class="search-box">
            <input type="text" id="form-search" placeholder="Tìm kiếm...">
            <button class="icon-search">
                <img src="~/images/search.png" alt="">
            </button>
        </div> *@
        <button class="DatLichNgay" type="button" onclick="location.href='@Url.Action("Index", "DichVu")'">Đặt lịch ngay</button>
    </div>
    <div class="overlay"></div>
</div>
<div class="container-fluid block-content booking-now">
    <p class="heading">ĐỘI NGŨ CHUYÊN GIA</p>
    <div class=" owl-carousel owl-theme" id="trinhDienChuyenGia">
        
    </div>
</div>
<div class="container-fluid block-content category">
    <p class="heading">DỊCH VỤ</p>
    <div class="row" id="trinhDienDichVu" style="justify-content:center;">
        
    </div>
</div>
<div class="container block-content blog">
    <p class="heading">BÀI VIẾT MỚI NHẤT</p>
    <div class="section baiVietMoi">
        <div class="tinBai row" id="baiVietMoiNhat">
            
        </div>
    </div>
</div>


<div class="container-fluid block-content rating">
    <p class="heading">CẢM NHẬN TỪ KHÁCH HÀNG</p>
    <div class="block-rating" id="danhGia">
        <div class="card mb-3" style="max-width: 400px;">
            <div class="card-header">   
                <img src="~/images/rating.png" alt="">
                <p class="card-text">
                    Mình rất thích cách trang web này hoạt động. Giao diện dễ hiểu, đặt lịch
                    nhanh chóng mà không cần gọi điện. Ngoài ra, tính năng nhắc nhở lịch khám giúp mình không bị
                    quên. Tuy nhiên, nếu có thêm thông báo qua SMS thì sẽ tiện hơn.
                </p>
            </div>
            <div class="card-body">
                <h5 class="card-title">Hoàng Thảo Linh</h5>
                <div class="rating">
                    <img src="~/images/star.png" alt="">
                    <img src="~/images/star.png" alt="">
                    <img src="~/images/star.png" alt="">
                    <img src="~/images/star.png" alt="">
                    <img src="~/images/star.png" alt="">
                </div>
            </div>
        </div>
        <div class="card mb-3" style="max-width: 400px;">
            <div class="card-header">
                <img src="~/images/rating.png" alt="">
                <p class="card-text">
                    Mình rất thích cách trang web này hoạt động. Giao diện dễ hiểu, đặt lịch
                    nhanh chóng mà không cần gọi điện. Ngoài ra, tính năng nhắc nhở lịch khám giúp mình không bị
                    quên. Tuy nhiên, nếu có thêm thông báo qua SMS thì sẽ tiện hơn.
                </p>
            </div>
            <div class="card-body">
                <h5 class="card-title">Hoàng Thảo Linh</h5>
                <div class="rating">
                    <img src="~/images/star.png" alt="">
                    <img src="~/images/star.png" alt="">
                    <img src="~/images/star.png" alt="">
                    <img src="~/images/star.png" alt="">
                    <img src="~/images/star.png" alt="">
                </div>
            </div>
        </div>
        <div class="card mb-3" style="max-width: 400px;">
            <div class="card-header">
                <img src="~/images/rating.png" alt="">
                <p class="card-text">
                    Mình rất thích cách trang web này hoạt động. Giao diện dễ hiểu, đặt lịch
                    nhanh chóng mà không cần gọi điện. Ngoài ra, tính năng nhắc nhở lịch khám giúp mình không bị
                    quên. Tuy nhiên, nếu có thêm thông báo qua SMS thì sẽ tiện hơn.
                </p>
            </div>
            <div class="card-body">
                <h5 class="card-title">Hoàng Thảo Linh</h5>
                <div class="rating">
                    <img src="~/images/star.png" alt="">
                    <img src="~/images/star.png" alt="">
                    <img src="~/images/star.png" alt="">
                    <img src="~/images/star.png" alt="">
                    <img src="~/images/star.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
    const vaiTro = '@ViewBag.VaiTro';
    const anhdaidien = '@ViewBag.Avatar';
    const linkBaiVietChiTiet = '@Url.Action("BaiVietChiTiet", "Blog")'
    </script>
    <script src="~/PageScripts/Home.js"></script>
}
