@{
    ViewBag.Title = "Quản lý chuyên gia";
}
<div class="d-flex align-items-center block-header">
    <div class="search-block">
        <input id="search" type="text" placeholder="Tìm kiếm...">
        <button id="btn-search"> <img src="~/images/search-cms.png" alt=""></button>
    </div>
    <button style="height: 40px; margin-left: 25px;" class="btn" type="button" data-bs-toggle="modal" data-bs-target="#modalAdd" id="btn-create">
        Thêm mới
    </button>
</div>
<table class="table table-border" id="myTable">
    <thead>
        <tr>
            <th>Stt</th>
            <th>Họ tên</th>
            <th>Chức danh</th>
            <th>Chức vụ</th>
            <th>Chuyên khoa</th>
            <th>Số năm kinh nghiệm</th>
            <th>Trạng thái</th>
            <th>Thao tác</th>
        </tr>
    </thead>
</table>

@* MODAL THÊM MỚI  *@
<div class="modal fade" id="modalAdd" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Thêm mới chuyên gia</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Hủy"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="tenDangNhapAdd" class="form-label">Tên đăng nhập <span class="text-red">*</span></label>
                    <input type="text" class="form-control" id="tenDangNhapAdd" placeholder="Nhập tên đăng nhập">
                </div>
                <div class="mb-3">
                    <label for="matKhauAdd" class="form-label">Mật khẩu <span class="text-red">*</span></label>
                    <input type="password" class="form-control" id="matKhauAdd" placeholder="Nhập mật khẩu">
                </div>
                <div class="mb-3">
                    <label for="hotenAdd" class="form-label">Họ và tên <span class="text-red">*</span></label>
                    <input type="email" class="form-control" id="hotenAdd" placeholder="Nhập họ và tên">
                </div>
                <div class="mb-3">
                    <label for="emailAdd" class="form-label">Email </label>
                    <input type="email" class="form-control" id="emailAdd" placeholder="Nhập email">
                </div>
                <div class="mb-3">
                    <label for="soDienThoaiAdd" class="form-label">Số điện thoại <span class="text-red">*</span></label>
                    <input type="text" class="form-control" id="soDienThoaiAdd" placeholder="Nhập số điện thoại">
                </div>
                <div class="mb-3">
                    <label class="form-label">Giới tính <span class="text-red">*</span></label>
                    <div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="gioitinhAdd" id="nuAdd" value="1">
                            <label class="form-check-label" for="nuAdd">Nữ</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="gioitinhAdd" id="namAdd" value="0">
                            <label class="form-check-label" for="namAdd">Nam</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="gioitinhAdd" id="khacAdd" value="2">
                            <label class="form-check-label" for="khacAdd">Khác</label>
                        </div>
                    </div>  
                </div>
                <div class="mb-3">
                    <label for="ngaySinhAdd" class="form-label">Ngày sinh <span class="text-red">*</span></label>
                    <input type="date" class="form-control" id="ngaySinhAdd" placeholder="dd/mm/yyyy">
                </div>
                <div class="mb-3">
                    <label for="diaChiAdd" class="form-label">Địa chỉ </label>
                    <input type="text" class="form-control" id="diaChiAdd" placeholder="Nhập địa chỉ">
                </div>
                <div class="mb-3">
                    <label for="chucDanhAdd" class="form-label">Chức danh</label>
                    <input type="text" class="form-control" id="chucDanhAdd" placeholder="Nhập chức danh">
                </div>
                <div class="mb-3">
                    <label for="chucVuAdd" class="form-label">Chức vụ</label>
                    <input type="text" class="form-control" id="chucVuAdd" placeholder="Nhập chức vụ">
                </div>
                <div class="mb-3" id="chuyenKhoaAddParent">
                    <label for="chuyenKhoaAdd" class="form-label">Chuyên khoa <span class="text-red">*</span></label>
                    <select class="form-select" id="chuyenKhoaAdd">
                        @* render chuyên khoa *@
                    </select>
                </div>

                <div class="mb-3">
                    <label for="soNamKinhNghiemAdd" class="form-label">Số năm kinh nghiệm</label>
                    <input type="text" class="form-control" id="soNamKinhNghiemAdd" placeholder="Nhập số năm kinh nghiệm">
                </div>
                <div class="mb-3">
                    <label for="donViCongTacAdd" class="form-label">Đơn vị công tác</label>
                    <input type="text" class="form-control" id="donViCongTacAdd" placeholder="Nhập đơn vị công tác">
                </div>
                <div class="mb-3">
                    <label for="giaiThuongNghienCuuAdd" class="form-label">Giải thưởng nghiên cứu</label>
                    <textarea cols="30" rows="3" type="text" class="form-control" id="giaiThuongNghienCuuAdd" placeholder="Nhập giải thưởng nghiên cứu"></textarea>
                </div>
                <div class="mb-3">
                    <label for="gioiThieuAdd" class="form-label">Giới thiệu</label>
                    <textarea cols="30" rows="5" type="text" class="form-control" id="gioiThieuAdd" placeholder="Nhập giới thiệu"></textarea>
                </div>
                <div class="mb-3">
                    <label for="kinhNghiemAdd" class="form-label">Kinh nghiệm</label>
                    <textarea cols="30" rows="5" type="text" class="form-control" id="kinhNghiemAdd" placeholder="Nhập kinh nghiệm"></textarea>
                </div>
                <div class="mb-3">
                    <label for="anhDaiDienAdd" class="form-label">Ảnh đại diện</label>
                    <input type="file" class="form-control" id="anhDaiDienAdd" accept="image/*">
                </div>
                <div class="mb-3">
                    <label class="form-label">Trạng thái <span class="text-red">*</span></label>
                    <div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="trangThaiAdd" id="dangLamViecAdd" value="1" checked>
                            <label class="form-check-label" for="dangLamViecAdd">Đang làm việc</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="trangThaiAdd" id="daNghiViecAdd" value="0">
                            <label class="form-check-label" for="daNghiViecAdd">Đã nghỉ việc</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-cancel btn-secondary" data-bs-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-active btn-primary" id="saveData">Lưu</button>
            </div>
        </div>
    </div>
</div>

@* MODAL CẬP NHẬT THÔNG TIN CHUYÊN GIA *@
<div class="modal fade" id="modalEdit" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Cập nhật thông tin chuyên gia</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Hủy"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" class="form-control" id="maChuyenGiaEdit" />
                <div class="mb-3">
                    <label for="hoTenEdit" class="form-label">Họ và tên <span class="text-red">*</span></label>
                    <input type="text" class="form-control" id="hoTenEdit" placeholder="Nhập họ và tên">
                </div>
                <div class="mb-3">
                    <label class="form-label">Giới tính <span class="text-red">*</span></label>
                    <div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="gioitinhEdit" id="nuEdit" value="1">
                            <label class="form-check-label" for="nuEdit">Nữ</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="gioitinhEdit" id="namEdit" value="0">
                            <label class="form-check-label" for="namEdit">Nam</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="gioitinhEdit" id="khacEdit" value="2">
                            <label class="form-check-label" for="khacEdit">Khác</label>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="ngaySinhEdit" class="form-label">Ngày sinh <span class="text-red">*</span></label>
                    <input type="date" class="form-control" id="ngaySinhEdit" placeholder="dd/mm/yyyy">
                </div>
                <div class="mb-3">
                    <label for="soDienThoaiEdit" class="form-label">Số điện thoại <span class="text-red">*</span></label>
                    <input type="text" class="form-control" id="soDienThoaiEdit" placeholder="Nhập số điện thoại">
                </div>
                <div class="mb-3">
                    <label for="emailEdit" class="form-label">Email </label>
                    <input type="email" class="form-control" id="emailEdit" placeholder="Nhập email">
                </div>
                <div class="mb-3">
                    <label for="diaChiEdit" class="form-label">Địa chỉ </label>
                    <input type="text" class="form-control" id="diaChiEdit" placeholder="Nhập địa chỉ">
                </div>
                <div class="mb-3">
                    <label for="chucDanhEdit" class="form-label">Chức danh</label>
                    <input type="text" class="form-control" id="chucDanhEdit" placeholder="Nhập chức danh">
                </div>
                <div class="mb-3">
                    <label for="chucVuEdit" class="form-label">Chức vụ</label>
                    <input type="text" class="form-control" id="chucVuEdit" placeholder="Nhập chức vụ">
                </div>
                <div class="mb-3" id="chuyenKhoaEditParent">
                    <label for="chuyenKhoaEdit" class="form-label">Chuyên khoa <span class="text-red">*</span></label>
                    <select class="form-select" id="chuyenKhoaEdit">
                        @* render chuyên khoa *@
                    </select>
                </div>

                <div class="mb-3">
                    <label for="soNamKinhNghiemEdit" class="form-label">Số năm kinh nghiệm</label>
                    <input type="text" class="form-control" id="soNamKinhNghiemEdit" placeholder="Nhập số năm kinh nghiệm">
                </div>
                <div class="mb-3">
                    <label for="donViCongTacEdit" class="form-label">Đơn vị công tác</label>
                    <input type="text" class="form-control" id="donViCongTacEdit" placeholder="Nhập đơn vị công tác">
                </div>
                <div class="mb-3">
                    <label for="giaiThuongNghienCuuEdit" class="form-label">Giải thưởng nghiên cứu</label>
                    <textarea cols="30" rows="3" type="text" class="form-control" id="giaiThuongNghienCuuEdit" placeholder="Nhập giải thưởng nghiên cứu"></textarea>
                </div>
                <div class="mb-3">
                    <label for="gioiThieuEdit" class="form-label">Giới thiệu</label>
                    <textarea cols="30" rows="5" type="text" class="form-control" id="gioiThieuEdit" placeholder="Nhập giới thiệu"></textarea>
                </div>
                <div class="mb-3">
                    <label for="kinhNghiemEdit" class="form-label">Kinh nghiệm</label>
                    <textarea cols="30" rows="5" type="text" class="form-control" id="kinhNghiemEdit" placeholder="Nhập kinh nghiệm"></textarea>
                </div>
                @* hiển thị preview ảnh đại diện *@
                <div class="mb-3" id="anhDaiDienNull">
                    <label for="anhDaiDienEdit" class="form-label" hidden>Ảnh đại diện</label>
                    <img id="currentAnhDaiDienEdit" src="" alt="Ảnh cũ" />
                    <button type="button" class="button btn-delete" id="btn-deleteAnhDaiDien">
                        <img src="../images/delete_filled.png" alt="Alternate Text" />
                    </button>
                </div>
                @* chọn ảnh đại diện tải lên *@
                <div class="mb-3">
                    <label for="anhDaiDienEdit" class="form-label">Ảnh đại diện</label>
                    <input type="file" class="form-control" id="anhDaiDienEdit" accept="image/*">
                </div>
                <div class="mb-3">
                    <label class="form-label">Trạng thái <span class="text-red">*</span></label>
                    <div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="trangThaiEdit" id="dangLamViecEdit" value="1" checked>
                            <label class="form-check-label" for="dangLamViecEdit">Đang làm việc</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="trangThaiEdit" id="daNghiViecEdit" value="0">
                            <label class="form-check-label" for="daNghiViecEdit">Đã nghỉ việc</label>
                        </div>
                    </div> 
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-cancel btn-secondary" data-bs-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-active btn-primary" id="editData">Lưu</button>
            </div>
        </div>
    </div>
</div>

@* MODAL CẬP NHẬT THÔNG TIN USER *@
@* <div class="modal fade" id="modalEditAccount" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true"> *@
@*     <div class="modal-dialog modal-lg"> *@
@*         <div class="modal-content"> *@
@*             <div class="modal-header"> *@
@*                 <h5 class="modal-title" id="staticBackdropLabel">Cập nhật tài khoản chuyên gia</h5> *@
@*                 <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Hủy"></button> *@
@*             </div> *@
@*             <div class="modal-body"> *@
@*                 <input type="hidden" class="form-control" id="maChuyenGiaEdit" /> *@
@*                 <div class="mb-3"> *@
@*                     <label for="tenDangNhapEdit" class="form-label">Tên đăng nhập <span class="text-red">*</span></label> *@
@*                     <input type="text" class="form-control" id="tenDangNhapEdit" placeholder="Nhập tên đăng nhập"> *@
@*                 </div> *@
@*                 <div class="mb-3"> *@
@*                     <label for="matKhauEdit" class="form-label">Mật khẩu cũ<span class="text-red">*</span></label> *@
@*                     <input type="text" class="form-control" id="matKhauEdit" placeholder="Nhập mật khẩu cũ"> *@
@*                 </div> *@
@*                 <div class="mb-3"> *@
@*                     <label for="matKhauMoiEdit" class="form-label">Mật khẩu mới <span class="text-red">*</span></label> *@
@*                     <input type="text" class="form-control" id="matKhauMoiEdit" placeholder="Nhập mật khẩu mới"> *@
@*                 </div> *@
@*                 <div class="mb-3"> *@
@*                     <label for="nhapLaiMatKhauEdit" class="form-label">Nhập lại mật khẩu <span class="text-red">*</span></label> *@
@*                     <input type="text" class="form-control" id="nhapLaiMatKhauEdit" placeholder="Nhập lại mật khẩu mới"> *@
@*                 </div> *@
@*             </div> *@
@*             <div class="modal-footer"> *@
@*                 <button type="button" class="btn btn-cancel btn-secondary" data-bs-dismiss="modal">Hủy</button> *@
@*                 <button type="button" class="btn btn-active btn-primary" id="editData">Lưu</button> *@
@*             </div> *@
@*         </div> *@
@*     </div> *@
@* </div> *@

@* MODAL THÊM CHỨNG CHỈ *@
<div class="modal fade" id="modalAddChungChi" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Thêm mới chứng chỉ</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Hủy"></button>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control" id="maChuyenGiaChungChiAdd" hidden>
                <div class="mb-3">
                    <label for="tenChungChiAdd" class="form-label">Tên chứng chỉ <span class="text-red">*</span></label>
                    <input type="text" class="form-control" id="tenChungChiAdd" placeholder="Nhập tên đăng nhập">
                </div>
                <div class="mb-3">
                    <label for="soHieuChungChiAdd" class="form-label">Số hiệu chứng chỉ <span class="text-red">*</span></label>
                    <input type="text" class="form-control" id="soHieuChungChiAdd" placeholder="Nhập số hiệu của chứng chỉ">
                </div>
                <div class="mb-3">
                    <label for="toChucCapAdd" class="form-label">Tổ chức cấp</label>
                    <input type="text" class="form-control" id="toChucCapAdd" placeholder="Nhập tổ chức cấp">
                </div>
                <div class="mb-3">
                    <label for="ngayCapAdd" class="form-label">Ngày cấp</label>
                    <input type="date" class="form-control" id="ngayCapAdd" placeholder="dd/mm/yyyy">
                </div>
                <div class="mb-3">
                    <label for="ngayHetHanAdd" class="form-label">Ngày hết hạn</label>
                    <input type="date" class="form-control" id="ngayHetHanAdd" placeholder="dd/mm/yyyy">
                </div>
                @* hiển thị preview ảnh đại diện *@
                <div class="mb-3" id="anhDaiDienNull">
                    <label for="anhChungChiAdd" class="form-label" hidden>Ảnh chứng chỉ</label>
                    <img id="currentChungChiEdit" src="~/images/null-image.jpg" alt="Ảnh cũ" />
                    <button type="button" class="button btn-delete" id="btn-deleteChungChi">
                        <img src="../images/delete_filled.png" alt="Alternate Text" />
                    </button>
                </div>
                @* thêm ảnh chứng chỉ *@
                <div class="mb-3">
                    <label for="anhDaiDienAdd" class="form-label">Ảnh chứng chỉ</label>
                    <input type="file" class="form-control" id="anhDaiDienAdd" accept="image/*">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-cancel btn-secondary" data-bs-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-active btn-primary" id="saveData">Lưu</button>
            </div>
        </div>
    </div>
</div>


@* MODAL XÓA *@
<div class="modal fade" id="modalDelete" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Xóa chuyên gia</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Hủy"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" class="form-control" id="maChuyenGiaDelete" />
                <p>Bạn có chắc chắn muốn xóa chuyên gia này không?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-cancel btn-secondary" data-bs-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-active btn-primary" id="deleteData">Đồng ý</button>
            </div>
        </div>
    </div>
</div>

@* MODAL XÓA ẢNH ĐẠI DIỆN*@
<div class="modal fade" id="modalDeleteAnhDaiDien" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Xóa ảnh đại diện</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Hủy"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" class="form-control" id="maChuyenGiaDeleteAnh" />
                <p>Bạn có chắc chắn muốn xóa ảnh đại diện này không?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-cancel btn-secondary" data-bs-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-active btn-primary" id="deleteAnhDaiDien">Đồng ý</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/PageScripts/QuanLyChuyenGia.js"></script>
}

