@page
@model DATLICHKHAM.Views.DatLichKhamChiTiet.IndexModel
@{

}

<div class="block-main">
    <div class="booking-card detail">
        <div class="header">
            <img src="~/images/checked.png" alt="Đặt lịch thành công" class="done-img" />
            <h3>Đặt lịch thành công!</h3>
        </div>
        <div class="info-booking row" style="width:100%;">
            <div class="block-left col-2">
                <p class="heading">Mã lịch hẹn</p>
                <p class="heading">Chuyên gia</p>
                <p class="heading">Ngày</p>
                <p class="heading">Thời gian</p>
                <p class="heading">Dịch vụ</p>
                <p class="heading">Giá dịch vụ</p>
                <p class="heading">Ghi chú</p>
            </div>
            <div class="block-right col">
                <p id="maLichHen"></p>
                <p id="chuyenGia"></p>
                <p id="ngay"></p>
                <p id="thoiGian" class="text-success"></p>
                <p id="dichVu"></p>
                <p id="giaDichVu" class="text-danger"></p>
                <p id="ghiChu" ></p>
            </div>
            <div class="block-qr col-2">
                <img src="~/images/qr.png" alt="QR" id="QR" />
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/PageScripts/DatLichKhamChiTiet.js"></script>
}