@page
@model DATLICHKHAM.Views.DatLichKhamChiTiet.IndexModel
@{

}

<div class="block-main">
    <div class="booking-card">
        <div class="left-info">
            <div class="doctor-info">
                <img src="https://i.imgur.com/8Km9tLL.png" alt="Doctor">
                <div class="doctor-details">
                    <div class="doctor-name">TS. BS. Nguyễn Thanh Tùng</div>
                    <div class="doctor-price">800.000 VND</div>
                </div>
            </div>
            <div class="info-line"><strong>Ngày hẹn:</strong> 04 / 11 / 2025</div>
            <div class="info-line"><strong>Thời gian hẹn:</strong> 08:00 - 09:00</div>
            <div class="info-line"><strong>Hình thức:</strong> Khám Online</div>
        </div>

        <div class="right-info">
            <div class="info-line"><span class="info-label">Họ tên:</span> Thanh Nhàn</div>
            <div class="info-line"><span class="info-label">Số điện thoại:</span> 0334744472</div>
            <div class="info-line"><span class="info-label">Ngày sinh:</span> 04 / 11 / 2003</div>
            <div class="info-line"><span class="info-label">Ngày sinh:</span> 04 / 11 / 2003</div>
            <div class="info-line"><span class="info-label">Số tiền đặt cọc:</span> <span class="deposit-info">400.000 VND</span></div>
            <div class="info-line"><span class="info-label">Số tiền thanh toán còn lại:</span> <span class="remain-info">400.000 VND</span></div>
        </div>

        <textarea placeholder="Ghi chú"></textarea>
        <div class="note">
            Bệnh nhân phải thanh toán trước 50% số tiền để đặt lịch khám, sẽ được hoàn tiền đặt cọc nếu huỷ lịch trước 12 tiếng
        </div>
        <div class="submit-button">
            <button>XÁC NHẬN ĐẶT LỊCH</button>
        </div>
    </div>
</div>