@page
@model DATLICHKHAM.Views.DatLichKham.IndexModel
@{

}

@* <div class="container-fluid block-page"> *@
@*     <h3 class="heading-page">TRANG CHỦ / ĐẶT LỊCH KHÁM</h3> *@
@*     <div class="block-content"> *@
@*         <div class="content-header"> *@
@*             <img class="header-left" src="~/images/bacsi.jpg" alt="Alternate Text" /> *@
@*             <div class="header-right"> *@
@*                 <p class="tenBacSi">Tiến sĩ, Bác sĩ Hoàng Thanh Tùng</p> *@
@*                 <p class="namKinhNghiem"><span class="nam">10</span> năm kinh nghiệm</p> *@
@*                 <p class="congTacTai intro">Công tác tại<span class="title"> Bệnh viện Đại Học Y Dược Huế</span></p> *@
@*                 <p class="chuyenKhoa intro">Chuyên khoa<span class="title"> Tâm lý học xã hội, tâm lý học thần kinh</span></p> *@
@*                 <p class="dichVu intro">Chức vụ<span class="title"> Chuyên viên tư vấn tâm lý</span></p> *@
@*             </div> *@
@*         </div> *@
@*     </div> *@
@* </div> *@