@page
@model DATLICHKHAM.Views.DatLichKham.IndexModel
@using System.Security.Claims;
@using Microsoft.AspNetCore.Identity;


<div class="block-main">
    <div class="blockDatLichKham">
        <div class="section-ThongTinLich">
            <img class="anhDaiDien" src="" alt="Ảnh đại diện chuyên gia" />
            <div class="section-right">
                <h4 class="tenChuyenGia"></h4>
                <h5 class="tenDichVu"></h5>
                <p class="giaDichVu"></p>
                <p class="soNamKinhNghiem"><span class="soNam"></span> <span>năm kinh nghiệm</span></p>
                <p class="thongTin congTacTai">Công tác tại <span class="valueCongTacTai"></span></p>
                <p class="thongTin chuyenKhoa">Chuyên khoa <span class="valueChuyenKhoa"></span></p>
                <p class="thongTin chucVu">Chức vụ <span class="valueChucVu"></span></p>
                <input type="hidden" id="maBenhNhan" value="@ViewBag.MaBenhNhan" />
            </div>
        </div>
        <div class="secsion-DatLich">
            <div class="section-NgayHen">
                <div class="mb-3">
                    <label class="form-label">Chọn hình thức</label>
                    <div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="hinhThucAdd" id="trucTiepAdd" value="1">
                            <label class="form-check-label" for="trucTiepAdd">Trực tiếp</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="hinhThucAdd" id="onlineAdd" value="0">
                            <label class="form-check-label" for="onlineAdd">Online</label>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="ngayHenAdd" class="form-label">Chọn ngày hẹn</label>
                    <input type="date" class="form-control" id="ngayHenAdd" placeholder="dd/mm/yyyy">
                </div>
                <div class="mb-3">
                    @* <label for="ghiChuAdd" class="form-label">Ghi chú</label> *@
                    <textarea cols="3" rows="2" type="text" class="form-control" id="ghiChuAdd" placeholder="Nhập ghi chú"></textarea>
                </div>
            </div>
            <div class="section-ThoiGianHen">
                <p class="thongTin">Chọn ngày hẹn</p>
            </div>
        </div>
        <div class="section-gioiThieu gioiThieuChuyenGia">
            <h5 class="title">Giới thiệu</h5>
            <p class="gioiThieu">

            </p>
        </div>
        <div class="section-KinhNghiem gioiThieuChuyenGia">
            <h5 class="title">Kinh nghiệm</h5>
            <p class="kinhNghiem">

            </p>
        </div>
        <div class="section-GiaiThuongNghienCuu gioiThieuChuyenGia">
            <h5 class="title">Giải thưởng nghiên cứu</h5>
            <p class="giaiThuong">

            </p>
        </div>
        <div class="section-chungNhan gioiThieuChuyenGia">
            <h5 class="title">Chứng nhận chuyên môn</h5>
            <div id="block-chungNhan" class="">
                @* render chứng chỉ *@
            </div>
        </div>
        <p class="notice" style="font-size:20px; color:red;text-align:justify">Nếu vì lý do cá nhân bạn không thể đến khám đúng hẹn, vui lòng hủy lịch khám ít nhất 12 tiếng trước và chọn một thời gian khác phù hợp. Chúng tôi rất cảm ơn sự hợp tác của bạn!</p>
        <div class="datKhamNgay">
            @if (User.Identity.IsAuthenticated)
            {
                <a class="btn btn-datLichNgay" id="btn-datLichNgay">ĐẶT LỊCH NGAY</a>
            }
            else
            {
                <a class="btn btn-datLichNgay" asp-page="/Account/Login" asp-area="Identity">ĐẶT LỊCH NGAY</a>
            }
        </div>
    </div>
</div>

<div class="modal fade" id="modalXacNhanDatLich" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Thanh toán để đặt lịch</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Hủy"></button>
            </div>
            <div class="modal-body">
                <p>Quý khách vui lòng quét mã QR để thanh toán</p>
                <img src="~/images/qrthanhtoan.jpg" alt="QR THANH TOÁN" style="width:70%;" />
                <p>Số tiền: <span id="soTienThanhToan" style="color:var(--blue); font-weight:600;"></span></p>
                <p>Thanh toán trong <span id="countdown" style="color:var(--red);font-weight:600;"></span>s</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-cancel btn-secondary" data-bs-dismiss="modal">Hủy</button>
                @* <button type="button" class="btn btn-active btn-primary" id="xacNhan">Xác nhận</button> *@
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/PageScripts/DatLichKham.js"></script>
}