<div class="d-flex align-items-center block-header">
    <div class="search-block">
        <input id="search" type="text" placeholder="Tìm kiếm...">
        <img id="btn-search" src="./assets/images/search-cms.png" alt="">
    </div>
    <div class="block-right">
        <select class=" filter filterDate" name="state">
            <option value="AL" selected>Ngày</option>
            <option value="AL">Alabama</option>
            <option value="WY">Wyoming</option>
        </select>
        <select class=" filter filterMethod" name="state">
            <option value="AL" selected>Hình thức khám</option>
            <option value="AL">Alabama</option>
            <option value="WY">Wyoming</option>
        </select>
        <select class=" filter filterMajor" name="state">
            <option value="AL" selected>Chuyên khoa</option>
            <option value="AL">
                Alabama Alabama Alabama Alabama Alabama Alabama Alabama Alabama Alabama
                Alabama
            </option>
            <option value="WY">Wyoming</option>
        </select>
        <select class=" filter filterDoctor" name="state">
            <option value="AL" selected>Bác sĩ</option>
            <option value="AL">Alabama</option>
            <option value="WY">Wyoming</option>
        </select>
        <button style="height: 40px; margin-left: 25px;" class="btn" type="button" data-toggle="modal"
                data-target="#modalCreate" id="btn-create">
            Lọc
        </button>
    </div>
</div>