<div class="d-flex align-items-center block-header">
    <div class="search-block">
        <input id="search" type="text" placeholder="Tìm kiếm...">
        <img id="btn-search" src="~/images/search-cms.png" alt="">
    </div>
    <button style="height: 40px; margin-left: 25px;" class="btn" type="button" data-toggle="modal"
            data-target="#modalCreate" id="btn-create">
        Thêm mới
    </button>
</div>