@page
@model DATLICHKHAM.Views.Blog.IndexModel
@{

}

<div class="container block-blog">
    <div class="row">
        <div class="col-3" >
            @* <h4 class="titleChuyenMuc">CHUYÊN MỤC</h4> *@
            <ul id="chuyenMucBaiViet">
                @* render chuyên mục bài viết *@
            </ul>
        </div>
        <div class="col">
            <div id="baiViet">
                @* render bài viết theo chuyên mục *@
            </div>
            <ul id="pagination"></ul>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        let linkBaiVietChiTiet = '@Url.Action("BaiVietChiTiet", "Blog")';
    </script>
    <script src="~/PageScripts/Blog.js"></script>
}
