@page
@model DATLICHKHAM.Views.Blog.IndexModel
@{

}

<div class="container block-blog">
    <div class="section baiVietMoi">
        <h3 class="heading">
            BÀI VIẾT MỚI NHẤT
        </h3>
        <div class="tinBai row">
            <div class="tinBaiLeft col-7">
                <div class="card" style="width: 100%;">
                    <img src="~/images/bacsi.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="chuyenMuc">Tâm lý học đường & công sở	</p>
                        <p class="tieuDe">So title and make up the bulk of the card's content.</p>
                        <p class="tomTat">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <p class="thoiGianDang">04/04/2023</p>
                    </div>
                </div>
            </div>
            <div class="tinBaiRight col-5">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-5">
                            <img src="~/images/bacsi.jpg" class="card-img-top" alt="...">
                        </div>
                        <div class="col-md-7">
                            <div class="card-body">
                                <p class="chuyenMuc">card's content.</p>
                                <p class="tieuDe">So title and make up the bulk of the card's content.</p>
                                <p class="tomTat">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <p class="thoiGianDang">04/04/2023</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-5">
                            <img src="~/images/bacsi.jpg" class="card-img-top" alt="...">
                        </div>
                        <div class="col-md-7">
                            <div class="card-body">
                                <p class="chuyenMuc">card's content.</p>
                                <p class="tieuDe">So title and make up the bulk of the card's content.</p>
                                <p class="tomTat">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <p class="thoiGianDang">04/04/2023</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-5">
                            <img src="~/images/bacsi.jpg" class="card-img-top" alt="...">
                        </div>
                        <div class="col-md-7">
                            <div class="card-body">
                                <p class="chuyenMuc">card's content.</p>
                                <p class="tieuDe">So title and make up the bulk of the card's content.</p>
                                <p class="tomTat">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <p class="thoiGianDang">04/04/2023</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section baiVietNoiBat">
        <h3 class="heading">
            CHUYÊN MỤC
        </h3>
        <div id="chuyenMuc" class="chuyenMuc row owl-carousel owl-theme">
            <div class="card bg-dark text-white col item h-100">
                <img src="~/images/bg.png" class="card-img" alt="...">
                <div class="card-img-overlay">
                    <h5 class="card-title">Card title</h5>
                </div>
            </div>
            <div class="card bg-dark text-white col item h-100">
                <img src="~/images/bacsi.jpg" class="card-img" alt="...">
                <div class="card-img-overlay">
                    <h5 class="card-title">Card title</h5>
                </div>
            </div>
            <div class="card bg-dark text-white col item h-100">
                <img src="~/images/bg.png" class="card-img" alt="...">
                <div class="card-img-overlay">
                    <h5 class="card-title">Card title</h5>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/PageScripts/Blog.js"></script>
}