@{
    ViewBag.Title = "Quản lý đánh giá";
}
<table class="table table-border" id="myTable">
    <thead>
        <tr>
            <th>Stt</th>
            <th>Họ tên</th>
            <th>Trạng thái</th>
            <th>Số sao</th>
            <th>Ngày đánh giá</th>
            <th>Nội dung</th>
            <th>Thao tác</th>
        </tr>
    </thead>
</table>
@section Scripts {
    <script src="~/PageScripts/QuanLyDanhGia.js"></script>
}
