
<div class="container-fluid block-page">
    <h3 class="heading-page">TRANG CHỦ / VỀ CHÚNG TÔI</h3>
    <div class="main-content">
        <p class="introTen">Trung tâm Ứng dụng Khoa Hoc Tâm Lý - Giáo Dục - Hoàng Minh Center</p>
        <p>Địa chỉ:</p>
        <ul>
            <li>
                Cơ sở 1: 61 Đặng Tất, phường An Hòa, thành phố Huế
            </li>
            <li>
                Cơ sở 2: 15A Nguyễn Đình Xướng, thị trấn Phú Bài, thành phố Huế
            </li>
        </ul>
        <img src="~/images/bg.png" alt="Alternate Text" />
        <p>
            Tại <span class="introTen">Hoàng Minh Center</span>, chúng tôi tin rằng sức khỏe tinh thần là nền tảng của cuộc sống hạnh phúc. Với đội ngũ chuyên gia tâm lý, chuyên viên can thiệp giàu kinh nghiệm, chúng tôi cung cấp các dịch vụ tư vấn và trị liệu tâm lý chuyên sâu cho người lớn, trẻ em và gia đình.<br />
            Đặc biệt, chúng tôi có chương trình can thiệp sớm cho trẻ đặc biệt (tự kỷ, ADHD, chậm nói, rối loạn học tập…), giúp trẻ phát triển kỹ năng và hòa nhập tốt hơn.<br />
            Hệ thống hỗ trợ đặt lịch tư vấn và khám tâm lý với đội ngũ bác sĩ chuyên môn, giúp bệnh nhân dễ dàng tiếp cận dịch vụ chăm sóc sức khỏe tâm thần. Bệnh nhân có thể chọn hình thức tư vấn trực tiếp tại phòng khám hoặc tư vấn trực tuyến qua video call để thuận tiện hơn.
        </p>
        <ul>
            <li>
                Tư vấn tâm lý: Lắng nghe, đánh giá tình trạng tâm lý và đưa ra hướng hỗ trợ phù hợp.
            </li>
            <li>
                Khám & chẩn đoán: Đánh giá chuyên sâu về các rối loạn tâm lý, hướng dẫn điều trị.
            </li>
            <li>
                Liệu pháp trị liệu: Hỗ trợ điều trị lâu dài cho các vấn đề như trầm cảm, lo âu, rối loạn giấc ngủ,...
            </li>
            <li>
                Hỏi đáp chuyên gia: Đặt câu hỏi ẩn danh, được bác sĩ trả lời và chia sẻ công khai để giúp những người có cùng vấn đề.
            </li>
        </ul>
        <p>
            Hệ thống cung cấp quy trình đặt lịch đơn giản, đảm bảo bảo mật thông tin và giúp bệnh nhân nhận được sự hỗ trợ kịp thời từ chuyên gia.<br />
            Hệ thống đặt lịch khám online giúp bạn dễ dàng kết nối với chuyên gia, theo dõi quá trình điều trị và nhận tư vấn kịp thời. Chúng tôi cam kết đồng hành cùng bạn trên hành trình tìm lại sự cân bằng và hạnh phúc trong cuộc sống.<br />
            Hãy để chúng tôi lắng nghe và giúp bạn!
        </p>
    </div>
</div>