@{
    ViewBag.Title = "Quản lý lịch hẹn";
}
<div class="content">
    <div class="d-flex align-items-center block-header">
        <div class="search-block">
            <input id="search" type="text" placeholder="Tìm kiếm...">
            <button id="btn-search"> <img src="~/images/search-cms.png" alt=""></button>
        </div>
        <button style="height: 40px; margin-left: 25px;" class="btn" type="button" data-bs-toggle="modal" data-bs-target="#modalAdd" id="btn-create">
            Thêm mới
        </button>
    </div>
    <table class="table table-border" id="myTable">
        <thead>
            <tr>
                <th>Stt</th>
                <th>Ngày</th>
                <th>Thời gian</th>
                <th>Bệnh nhân</th>
                <th>Chuyên gia</th>
                <th>Hình thức</th>
                <th>Trạng thái</th>
                <th>Số tiền</th>
                <th>Trạng thái thanh toán</th>
                <th>Thao tác</th>
            </tr>
        </thead>
    </table>
</div>

@* MODAL THÊM MỚI  *@
<div class="modal fade" id="modalAdd" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Thêm mới lịch hẹn</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Hủy"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3" id="benhNhanAddParent">
                    <label for="benhNhanAdd" class="form-label">Bệnh nhân <span class="text-red">*</span></label>
                    <select class="form-select" id="benhNhanAdd">
                        @* render bệnh nhân*@
                    </select>
                </div>
                <div class="mb-3" id="dichVuAddParent">
                    <label for="dichVuAdd" class="form-label">Dịch vụ <span class="text-red">*</span></label>
                    <select class="form-select" id="dichVuAdd">
                        @* render dịch vụ*@
                    </select>
                </div>
                <div class="mb-3" id="chuyenGiaAddParent">
                    <label for="chuyenGiaAdd" class="form-label">Chuyên gia <span class="text-red">*</span></label>
                    <select class="form-select" id="chuyenGiaAdd">
                        @* render chuyên gia *@
                    </select>
                </div>
                <div class="mb-3">
                    <label for="ngayHenAdd" class="form-label">Ngày hẹn <span class="text-red">*</span></label>
                    <input type="date" class="form-control" id="ngayHenAdd" placeholder="dd/mm/yyyy">
                </div>
                <div class="mb-3" id="thoiGianHenAddParent">
                    <label for="thoiGianHenAdd" class="form-label">Thời gian hẹn <span class="text-red">*</span></label>
                    <select class="form-select" id="thoiGianHenAdd">
                        @* render thời gian hẹn *@
                    </select>
                </div>
                <div class="mb-3">
                    <label for="ghiChuAdd" class="form-label">Ghi chú</label>
                    <textarea type="text" class="form-control" id="ghiChuAdd" placeholder="Nhập ghi chú"></textarea>
                </div>
                <div class="mb-3">
                    <label class="form-label">Hình thức<span class="text-red">*</span></label>
                    <div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="hinhThucAdd" id="trucTiepAdd" value="1" checked>
                            <label class="form-check-label" for="trucTiepAdd">Trực tiếp</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="hinhThucAdd" id="onlineAdd" value="0">
                            <label class="form-check-label" for="onlineAdd">Online</label>
                        </div>
                    </div>
                </div>
                @* <div class="mb-3">
                    <label class="form-label">Trạng thái <span class="text-red">*</span></label>
                    <div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="trangThaiAdd" id="daDatLichAdd" value="0" checked>
                            <label class="form-check-label" for="daDatLichAdd">Đã đặt lịch</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="trangThaiAdd" id="hoanThanhAdd" value="1">
                            <label class="form-check-label" for="hoanThanhAdd">Hoàn thành</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="trangThaiAdd" id="daHuyLichAdd" value="2">
                            <label class="form-check-label" for="daHuyLichAdd">Đã hủy lịch</label>
                        </div>
                    </div>
                </div> *@
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-cancel btn-secondary" data-bs-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-active btn-primary" id="saveData">Lưu</button>
            </div>
        </div>
    </div>
</div>

@* MODAL CHỈNH SỬA *@
<div class="modal fade" id="modalEdit" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Cập nhật lịch hẹn</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Hủy"></button>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control" id="maLichHenEdit" hidden>
                <div class="mb-3" id="benhNhanEditParent">
                    <label for="benhNhanEdit" class="form-label">Bệnh nhân <span class="text-red">*</span></label>
                    <select class="form-select" id="benhNhanEdit">
                        @* render bệnh nhân*@
                    </select>
                </div>
                <div class="mb-3" id="dichVuEditParent">
                    <label for="dichVuEdit" class="form-label">Dịch vụ <span class="text-red">*</span></label>
                    <select class="form-select" id="dichVuEdit">
                        @* render dịch vụ*@
                    </select>
                </div>
                <div class="mb-3" id="chuyenGiaEditParent">
                    <label for="chuyenGiaEdit" class="form-label">Chuyên gia <span class="text-red">*</span></label>
                    <select class="form-select" id="chuyenGiaEdit">
                        @* render chuyên gia *@
                    </select>
                </div>
                <div class="mb-3">
                    <label for="ngayHenEdit" class="form-label">Ngày hẹn <span class="text-red">*</span></label>
                    <input type="date" class="form-control" id="ngayHenEdit" placeholder="dd/mm/yyyy">
                </div>
                
                <div class="mb-3" id="thoiGianHenEditParent">
                    <label for="thoiGianHenEdit" class="form-label">Thời gian hẹn <span class="text-red">*</span></label>
                    <select class="form-select" id="thoiGianHenEdit">
                        @* render thời gian hẹn *@
                    </select>
                    <input id="thoiGianHenCurrent" type="hidden"/>
                </div>
                <div class="mb-3">
                    <label for="ghiChuEdit" class="form-label">Ghi chú</label>
                    <textarea type="text" class="form-control" id="ghiChuEdit" placeholder="Nhập ghi chú"></textarea>
                </div>
                <div class="mb-3">
                    <label class="form-label">Hình thức<span class="text-red">*</span></label>
                    <div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="hinhThucEdit" id="trucTiepEdit" value="1" checked>
                            <label class="form-check-label" for="trucTiepEdit">Trực tiếp</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="hinhThucEdit" id="onlineEdit" value="0">
                            <label class="form-check-label" for="onlineEdit">Online</label>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Trạng thái <span class="text-red">*</span></label>
                    <div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="trangThaiEdit" id="daDatLichEdit" value="0" checked>
                            <label class="form-check-label" for="daDatLichEdit">Đã đặt lịch</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="trangThaiEdit" id="hoanThanhEdit" value="1">
                            <label class="form-check-label" for="hoanThanhEdit">Hoàn thành</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="trangThaiEdit" id="daHuyLichEdit" value="2">
                            <label class="form-check-label" for="daHuyLichEdit">Đã hủy lịch</label>
                        </div>
                    </div>
                </div>
                <div class="mb-3 d-none" id="lyDoHuyLich">
                    <label for="lyDoEdit" class="form-label">Lý do hủy lịch <span class="text-red">*</span></label>
                    <textarea type="text" class="form-control" id="lyDoEdit" placeholder="Nhập lý do"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-cancel btn-secondary" data-bs-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-active btn-primary" id="editData">Lưu</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalDelete" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Xóa lịch hẹn</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Hủy"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" class="form-control" id="maLichHenDelete" />
                <p>Bạn có chắc chắn muốn xóa lịch hẹn này không?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-cancel btn-secondary" data-bs-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-active btn-primary" id="deleteData">Đồng ý</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/PageScripts/QuanLyLichKham.js"></script>
}

